.App {
  text-align: center;
  background-image: url("https://imgs.search.brave.com/r4hvvERQXZMkWnIRQmiPL3KLRv1SyoJ3mLLxIDjA38I/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMudW5zcGxhc2gu/Y29tL3Bob3RvLTE1/NTYwNTY1MDQtNWM3/Njk2YzRjMjhkP3E9/ODAmdz0xMDAwJmF1/dG89Zm9ybWF0JmZp/dD1jcm9wJml4bGli/PXJiLTQuMC4zJml4/aWQ9TTN3eE1qQTNm/REI4TUh4elpXRnlZ/Mmg4Tkh4OFptOXZk/R0poYkd3bE1qQndh/WFJqYUh4bGJud3dm/SHd3Zkh4OE1BPT0.jpeg"); /* Replace 'background.jpg' with your image file */
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
